#selection-box {
    height: 100px;
    width: 300px;
    position: absolute;
    top: 80px;
    left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: black;
    border: 1px white solid;
    align-items: center;
    box-sizing: border-box;
}
.playerInput {
    /* height: 20px;
    width: 50px; */
    height: 100%;
    width: 100%;
    border: none;
    position: relative;
    background-color: black;
    color: rgba(255, 255, 255, .7);
    font-size: medium;
}

.playerInput:hover {
    color: rgba(255, 255, 255, 1.0);
}

.skills-menu{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 1rem;
    top: 1rem;
    background-color: black;
    border: 1px solid white;
    z-index: 5;
    filter: opacity(0);
    pointer-events: none;
    transition: 0.2s;
    transform: translateY(-2rem) translateX(-2rem);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.Toggle_Menu{
    filter: opacity(1);
    transform: translateY(0em) translateX(0rem);

}



button{
    border: none;
}