#selection-box {
    height: 100px;
    width: 300px;
    position: absolute;
    top: 80px;
    left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: black;
    border: 1px white solid;
    align-items: center;
    box-sizing: border-box;
    filter: opacity(1);
}
.playerInput {
    /* height: 20px;
    width: 50px; */
    height: 100%;
    width: 100%;
    border: none;
    position: relative;
    background-color: black;
    color: rgba(255, 255, 255, .7);
    font-size: medium;
}

.playerInput:hover {
    color: rgba(255, 255, 255, 1.0);
}

.skills-menu{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 1rem;
    top: 1rem;
    background-color: black;
    border: 1px solid white;
    z-index: 5;
    filter: opacity(0);
    pointer-events: none;
    transition: 0.2s;
    transform: translateY(-2rem) translateX(-2rem);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.Toggle_Menu{
    filter: opacity(1);
    transform: translateY(0em) translateX(0rem);
    pointer-events: all;

}

#back{
    position: absolute;
    height: 2rem;
    width: 2rem;
    top: 0;
    left: 0;
    z-index: 10;
    font-size: 0.7rem;
    transform: rotateX(0deg);
    /* border: 1px solid white; */
}

#back:hover{
    animation: Flip 1s forwards ease;
}

@keyframes Flip{
    from{transform:rotateX(0deg);}
    to{transform:rotateX(360deg);}
}

button{
    border: none;
}


.Move_Left_Animation{
    animation: Move_Left 2s ease;
}


@keyframes Move_Left{
    0%{transform:translateX(0rem); filter: opacity(1);}
    20%{transform:translateX(-20rem); filter: opacity(0);}
    80%{transform:translateX(-20rem); filter: opacity(0);}
    100%{transform:translateX(0rem); filter: opacity(1);}
}


.Smack{
    animation: Spin_Out 2s linear forwards;
}

@keyframes Spin_Out{
    0%{transform: rotateY(0deg);}
    20%{transform: translateX(-180%)};
    50%{transform: translateX(-180%)};
    100%{transform: translateX(0%);}

}