body {
    background-color: black;
    overflow: hidden;
}

.container {
    position: relative;
    width: 1024px;
    height: 576px;
    outline: 1px solid black;
    margin: 0 auto;
    box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.3);
}

#title-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10;
    color: white;
    font-family: Arial;
    text-align: center;
    padding-top: 25%;
    transition: 0.4s;
}

#play {
    position: absolute;
    border: none;
    position: relative;
    background-color: black;
    color: rgba(255, 255, 255, .7);
    font-size: medium;
}

#play:hover {
    color: rgba(255, 255, 255, 1.0);
}
.startGame{
    filter: opacity(0);
    transform: translateY(0em) translateX(0rem);
    pointer-events: none;
}
.container > #bg-img {
    width: 1024px;
    height: 576px;
    position: absolute;
}


#playerSprite {
    width: 120px;
    height: 120px;
    position: absolute;
    left: 60px;
    bottom: 190px;
}

#player-HPbar {
    width: 120px;
    height: 10px;
    border: 1px white solid;
    background-color: gray;
    position: absolute;
    left: 60px;
    bottom: 165px;
    background-image: linear-gradient(to right, green 100%, rgba(0,0,0,0) 100%);
}

#player-MPbar {
    width: 120px;
    height: 7px;
    border: 1px white solid;
    background-color: gray;
    position: absolute;
    left: 60px;
    bottom: 155px;
    background-image: linear-gradient(to right, lightSkyBlue 100%, rgba(0,0,0,0) 100%);
}

#enemySprite {
    width: 350px;
    height: 350px;
    position: absolute;
    right: 30px;
    bottom: 160px;
}

#enemy-HPbar {
    width: 350px;
    height: 10px;
    border: 1px white solid;
    background-color: gray;
    position: absolute;
    right: 30px;
    bottom: 165px;
    background-image: linear-gradient(to right, green 100%, rgba(0,0,0,0) 100%);
}

#enemy-MPbar {
    width: 350px;
    height: 7px;
    border: 1px white solid;
    background-color: gray;
    position: absolute;
    right: 30px;
    bottom: 155px;
    background-image: linear-gradient(to right, lightSkyBlue 100%, rgba(0,0,0,0) 100%);
}

#text-box {
    position: absolute;
    height: 120px;
    width: 1000px;
    background-color: black;
    border: 1px white solid;
    bottom: 0;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.5);
    color: white;
    overflow: scroll;
    padding-left: 15px;
}

::-webkit-scrollbar {
    width: 0; 
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: transparent;
}