body {
    background-color: white;
    overflow: hidden;
}

.container {
    position: relative;
    width: 1024px;
    height: 576px;
    outline: 1px solid black;
    margin: 0 auto;
    box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.3);
}

.container > #bg-img {
    width: 1024px;
    height: 576px;
    position: absolute;
}
#stat-bar {
    position: absolute;
    width: 1024px;
    height: 60px;
    background-color: burlywood;
    top: 0;
}

#playerSprite {
    width: 120px;
    height: 120px;
    position: absolute;
    left: 60px;
    bottom: 170px;
}
#player-HPbar {
    width: 120px;
    height: 10px;
    border: 1px white solid;
    background-color: gray;
    position: absolute;
    left: 60px;
    bottom: 140px;
    background-image: linear-gradient(to right, green 100%, rgba(0,0,0,0) 100%);
    background-repeat: none;
    background-size: 100% 100%;
    background-position: 0% 10%;
    transition: background-position 0.5s, transform 0.2s;
}
#player-HPbar:hover {
    background-position: 0% 50%;
    transform: scale(1.05);
}
#enemySprite {
    width: 350px;
    height: 350px;
    position: absolute;
    right: 30px;
    bottom: 130px;
}
#enemy-HPbar {
    width: 350px;
    height: 10px;
    border: 1px white solid;
    background-color: gray;
    position: absolute;
    right: 30px;
    bottom: 140px;
    background-image: linear-gradient(to right, green 100%, rgba(0,0,0,0) 100%);
}

.playerInput {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: none;
    transition: .15s;
}

#attack {
    position: absolute;
    top: 150px;
    left: 40px;
    background-color: rgba(215,207,193,0.4);
    box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.3);
}

#attack:hover {
    background-color: rgba(215,207,193,.7);
}

#text-box {
    position: absolute;
    height: 120px;
    width: 1000px;
    background-color: black;
    border: 1px white solid;
    bottom: 0;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.5);
    color: white;
    overflow: scroll;
    padding-left: 15px;
}

::-webkit-scrollbar {
    width: 0; 
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: transparent;
}